
" Selected IntelliSpace modules
source ~/intelli-space/spacemacs.vim
source ~/intelli-space/extra.vim
source ~/intelli-space/major.vim
source ~/intelli-space/hybrid.vim

set ignorecase
set smartcase
set surround
set visualbell

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

