spacemacs/.spacemacs.env
doom/private.el
fish/local.fish

lazyvim/spell

zed/.*
zed/embeddings/
zed/prompts/
yazi/flavors/
yazi/plugins/
nix-darwin/result
television/.config/television/cable/
/.tmp
/superfile/.config/superfile/theme
